html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
}

h2 {
	font-weight: 100;
}

h3 {
	color: #90949c;
    font-size: 16px;
    font-weight: bold;
}

.section {
	padding-top: 25px;
}

.sign-in-section {
	background-color: #edf0f5;
}

.header-section {
	display: inline-block;
	width: 100%;
	background-color: #3b5998;
	background-image: linear-gradient(#4e69a2, #3b5998 50%); 
	color: white;
	padding: 10px 0;
}

.header-logo {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	display: inline-block;
	float: left;
}

.header-input-section {
	display: inline-block;
	float: right;
}

.signup-input {
	border: 1px solid #bdc7d8;
	border-radius: 3px;
	width: 150px;
}

.signup-input-full {
	width: 310px;
}
















